<%= form_with model: @user, local:true do |f| %>
  <h5>名前</h5>
  <%= f.text_field :name, class: "" %>
  <h5>自己紹介</h5>
  <%= f.text_area :profile, class: "" %>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>